<div style="text-align:center">
  <h1>Developer Coding Test</h1>
</div>

<div class="controls" *ngIf="this.state === ApplicationState.Stopped || this.state === ApplicationState.Finished">
  <app-start-control (startTimer)="start($event)"></app-start-control>
</div>

<div class="controls" *ngIf="state === ApplicationState.Started || state === ApplicationState.Paused">
  <app-play-control [halt]="halt.bind(this)" 
                    [resume]="resume.bind(this)" 
                    [quit]="quit.bind(this)"></app-play-control> 
</div> 

<div *ngIf="state === ApplicationState.Started || state === ApplicationState.Paused">
  <app-input-control (inputNumber)="inputNumber($event)"></app-input-control>
</div>

<div>
  <span *ngFor="let input of inputCount">{{ input.input }} : {{ input.count }}, </span>
</div>

<div *ngIf="isFib">FIB</div>

<div *ngIf="state === ApplicationState.Finished">Thanks for playing, enter a new time to play again.</div>